<p id="notice"><%= notice %></p>

<p>
  <b>Tiempo produccion rte:</b>
  <%= @parte_contenido.tiempo_produccion_rte %>
</p>

<p>
  <b>Restaurantes producidos:</b>
  <%= @parte_contenido.restaurantes_producidos %>
</p>

<p>
  <b>Tiempo produccion carta:</b>
  <%= @parte_contenido.tiempo_produccion_carta %>
</p>

<p>
  <b>Cartas producidas:</b>
  <%= @parte_contenido.cartas_producidas %>
</p>

<p>
  <b>Tiempo modificacion asociados:</b>
  <%= @parte_contenido.tiempo_modificacion_asociados %>
</p>

<p>
  <b>Modificaciones asociados:</b>
  <%= @parte_contenido.modificaciones_asociados %>
</p>

<p>
  <b>Tiempo modificacion afiliados:</b>
  <%= @parte_contenido.tiempo_modificacion_afiliados %>
</p>

<p>
  <b>Modificaciones afiliados:</b>
  <%= @parte_contenido.modificaciones_afiliados %>
</p>

<p>
  <b>Tiempo revision restaurante:</b>
  <%= @parte_contenido.tiempo_revision_restaurante %>
</p>

<p>
  <b>Restaurantes revisados:</b>
  <%= @parte_contenido.restaurantes_revisados %>
</p>

<p>
  <b>Tiempo revision carta:</b>
  <%= @parte_contenido.tiempo_revision_carta %>
</p>

<p>
  <b>Cartas revisadas:</b>
  <%= @parte_contenido.cartas_revisadas %>
</p>

<p>
  <b>Tiempo revision modificaciones asociados:</b>
  <%= @parte_contenido.tiempo_revision_modificaciones_asociados %>
</p>

<p>
  <b>Modificaciones asociados revisadas:</b>
  <%= @parte_contenido.modificaciones_asociados_revisadas %>
</p>

<p>
  <b>Tiempo revision modificaciones afiliados:</b>
  <%= @parte_contenido.tiempo_revision_modificaciones_afiliados %>
</p>

<p>
  <b>Modificaciones afiliados revisadas:</b>
  <%= @parte_contenido.modificaciones_afiliados_revisadas %>
</p>

<p>
  <b>Tiempo gestion:</b>
  <%= @parte_contenido.tiempo_gestion %>
</p>

<p>
  <b>Tiempo otras tareas:</b>
  <%= @parte_contenido.tiempo_otras_tareas %>
</p>

<p>
  <b>Descripcion otras tareas:</b>
  <%= @parte_contenido.descripcion_otras_tareas %>
</p>

<p>
  <b>Comentario:</b>
  <%= @parte_contenido.comentario %>
</p>

<p>
  <b>Fecha:</b>
  <%= @parte_contenido.fecha %>
</p>


<%= link_to 'Edit', edit_parte_contenido_path(@parte_contenido) %> |
<%= link_to 'Back', parte_contenidos_path %>
