<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @role.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @role.descripcion %>
</p>

<p>
  <b>Categoria:</b>
  <%= @role.categoria %>
</p>


<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
